/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25-nov-2022, 13:55:10
    Author     : usuario
*/

#selectores{
    -fx-text-fill: red;
    -fx-font-size: 14px;
    -fx-padding: 8;
}

#pulsado{
    -fx-text-fill: green;
    -fx-font-size: 12px;
    -fx-padding: 8;
}
